<header>
    <div class="before">
        <p id="before" class="">NULL</p>
    </div>
    <div class="arrow">
        <span class="arrow-next"></span>
        <span class="arrow-next"></span>
        <span class="arrow-next"></span>
    </div>
    <div class="now">
        <p id="now">NULL</p>
    </div>
    <div class="arrow">
        <span class="arrow-next"></span>
        <span class="arrow-next"></span>
        <span class="arrow-next"></span>
    </div>
    <div class="next">
        <p id="next">NULL</p>
    </div>
</header>