<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../statics/game.css">
    <link rel="stylesheet" href="../statics/gameheader.css">
    <link rel="stylesheet" type="text/css" href="../statics/background.css">
</head>
<body>
    <header>
        <div class="before">
            <p id="before" class="">NULL</p>
        </div>
        <div class="arrow">
            <span class="arrow-next"></span>
            <span class="arrow-next"></span>
            <span class="arrow-next"></span>
        </div>
        <div class="now">
            <p id="now">NULL</p>
        </div>
        <div class="arrow">
            <span class="arrow-next"></span>
            <span class="arrow-next"></span>
            <span class="arrow-next"></span>
        </div>
        <div class="next">
            <p id="next">NULL</p>
        </div>
    </header>
    <div class="container">
        <div class="clock" id="load">
          <h2>TIME</h2>
          <div class="timer">10s</div>
        </div>
        <div class="kuttu">
          <div class="first block firstanim">
            <h3 class="word">NULL</h3>
            <p>설명이 없습니다.</p>
          </div>
          <div class="second block secondanim">
            <h2 class="word">NULL</h2>
            <p>설명이 없습니다.</p>
          </div>
          <div class="current block">
            <h1 class="word">NULL</h1>
            <input type="text" id="word-input" class="input_kuttu" name="input">
          </div>
        </div>
        <div class="users" id="score-out">
            
        </div>
      </div>
      <div class="popup" id="popup">
        <p>대기중입니다.</p>
    </div>
</body>
</html>