<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<header>
    <div class="header_logo">worry</div>
    <div class="header_user">
        <div>
            <span class="material-icons">
                account_circle
            </span>
        </div>
        <div>
            <p id="userNameC">Null</p>
        </div>
    </div>
</header>